body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first, #second, #third, #fourth, #fifth {
    width: 300px;
    height: 150px;
    padding: 12px;
    background-color: white;
    text-align: center;
}

#button{
    background-color: beige;
}

#button:hover {
    background-color: aqua;
}