.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px;
}

.header {
    grid-column: 1 / -1 ;
}

.menu {}

.content {}

.footer {
    grid-row: 20;
}