body {
    margin: 0px;
}

.page-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.title-container {
    background-color: beige;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-cards {
    background-color: beige;
    gap: 10px;
    display: flex;
    flex-direction: row;
    height: 400px;
}

.card {
   flex: 33.33%;
   height: 200px;
   padding: 10px;
   position: relative;
}

.card img {
    height: 150px;
    width: 100%;
}

.portions-container, .result-container {
    height: 200px;
    width: 100%;
    background-color: beige;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    align-items: end;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    display: none;
  }

  .checkmark:after {
    content: "✓";
    color: white;
  }

  .container .checkmark:after {
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }