html , body {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 10px;
}

.calculator .input-row input {
    width: 100%;
    box-sizing: border-box;
    font-size: 2em;
    text-align: right;
    padding: 1em;
    background-color: #eeeeee;
    border: 1px solid #b1b1b1;
}

.calculator .buttons {
    display: flex;
    flex-wrap: wrap;
}

.calculator .buttons button {
    width: 25%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 2em;
    border: none;
    background-color: yellow;
    border: 1px solid azure;
    cursor: pointer;
}

.calculator .buttons button:hover {
    background-color: azure;
    color: white;
}