
main {
    background-color: bisque;
}

.upper-container {
    display: flex;
    justify-content: space-between;
}

.upper-container  p {
    /* justify-content: space-between; */
}

.list-of-links {
    display: flex;
    flex-direction: row;
  
}

li {
    margin-right: 20px;
    display: inherit;
}