/* article {
    border: 2px solid #000;
}

@media screen and (max-width:768px) {
    article {
        flex-direction: column;
    }
}
 */

html, body, main, .container {
    height: 100%;
  }
  
.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

header, footer {
    background-color: azure;
    text-align: center;
    padding: 20px 20px;
}

