
body {
    background-color: green;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
   
}

.container div {
    border-radius: 12px;
    padding: 10px;
}

.container .div1 {
   background-color: red;
   grid-column: span 6;
}

.container .div2 {
    background-color: yellow;
    grid-column: span 6;
}

.container .div3 {
   background-color: blue;
   grid-column: span 3;
}

.container .div4 {
    background-color: yellow;
    grid-column: span 9;
}

.container .div5 {
   background-color: blue;
   grid-column: span 12;
}










.container2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 150px 40px;
    gap: 10px;
    background-color: blanchedalmond;
    margin-top: 50px;
}

.container2 div {
    padding: 10px;
}

.container2-div1 {
   background-color: antiquewhite;
   grid-column: span 12;
}

.container2-div2 {
    background-color: aqua;
    grid-column: span 3;
 }

 .container2-div3 {
    background-color: beige;
    grid-column: span 6;
 }

 .container2-div4 {
    background-color: blanchedalmond;
    grid-column: span 3;
 }

 .container2-div5 {

    background-color: wheat;
    grid-column: span 12;
 }

 @media screen and (max-width: 1024px) {
  .container2-div3 {
     grid-column: span 9;
  }
 
  .container2-div4 {
     grid-column: span 12;
  }
 }

 @media screen and (max-width: 768px) {
    .container2-div2 {
       grid-column: span 12;
    }
   
    .container2-div3 {
       grid-column: span 12;
    }
}


.container3 {
    display: grid;
    grid-template-columns: 2fr;
    margin-top: 50px;
    background-color: wheat;
}

.container3 .div1 {
    grid-column: span 12;
    background-color: red;
} 

.container3 .div2 {
    grid-column: span 6;
    background-color: blue;
} 

.container3 .div3 {
    grid-column: span 6;
    background-color: green;
} 

.container3 .div4 {
    grid-column: span 3;
    background-color: purple;
} 

.container3 .div5 {
    grid-column: span 3;
    background-color: purple;
} 